body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Layout css */

/* Dashboard Admin Template Layout */
/* Header */

#header-logo,
#page-header {
    height: 78px;
}
#header-logo {
    width: 260px;
    text-align: center;
    font-size: 16px;
    float: left;
    position: relative;
}
#header-logo .logo-content-big,
.logo-content-small {
    background: url('../../image-resources/logo-admin.png') left 50% no-repeat;
    text-indent: -999em;
    position: absolute;
    height: 34px;
    width: 190px;
    left: 10px;
    top: 50%;
    margin-top: -17px;
}
.logo-content-small {
    width: 35px;
}
#header-logo .logo-content-small {
    left: 50%;
    margin-left: -17px;
    display: none;
}
#page-header #close-sidebar {
    color: rgba(255,255,255,0.5);
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -12px;
    height: 24px;
    line-height: 24px;
    width: 24px;
    display: block;
    border-radius: 3px;
    text-align: center;
}
#page-header #close-sidebar .glyph-icon {
    display: block;
    height: 24px;
    line-height: 24px;
    width: 24px;
}
#page-header #close-sidebar:hover {
    color: rgba(255,255,255,0.85);
    background: rgba(255,255,255,0.1);
}

/* Header nav left */

#header-nav-left {
    float: left;
    margin: 0 15px;
}
#page-header .user-account-btn {
    float: left;
    margin: 23px 0 0;
}
#page-header .user-account-btn .dropdown-menu {
    padding-bottom: 0;
    top: 39px;
    left: -12px;
}
#page-header .user-account-btn .dropdown-menu:after,
#page-header .user-account-btn .dropdown-menu:before {
    left: 50%;
    margin-left: -3px;
}
#page-header .user-account-btn > a.user-profile {
    height: 28px;
    line-height: 28px;
    display: block;
}
#page-header .user-account-btn > a.user-profile span {
    margin-right: 10px;
    float: left;
    width: 96px;
}
#page-header .user-account-btn > a.user-profile .glyph-icon {
    width: 28px;
    line-height: 28px;
    height: 28px;
    float: right;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
}
.user-account-btn img {
    border-radius: 50px;
    float: left;
    margin-right: 5px;
}
/* Header nav right */

#header-nav-right {
    float: right;
    margin: 15px 20px 0 0;
}
#header-nav-right .header-btn,
#header-nav-right > .dropdown {
    margin: 0 0 0 5px;
    float: left;
}
#header-nav-right .header-btn,
#header-nav-right .dropdown > a {
    border: transparent solid 2px;
    border-radius: 4px;
    width: 45px;
    height: 45px;
    line-height: 43px;
    display: block;
    text-align: center;
    position: relative;
}
#header-nav-right .header-btn .small-badge,
#header-nav-right .dropdown > a .small-badge {
    display: block;
    border: 0 !important;
    top: 0px;
    box-sizing: initial;
    right: 0;
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 0;
    border-bottom-left-radius: 9px;
}
#header-nav-right .header-btn .glyph-icon,
#header-nav-right .dropdown > a .glyph-icon {
    text-align: center;
    font-size: 21px;
}
#header-nav-right .dropdown-menu.float-right {
    right: 8px;
    top: 49px;
}
#header-nav-right a.hdr-btn {
    float: left;
    height: 28px;
    line-height: 28px;
    display: block;
    width: 28px;
    text-align: center;
    background: rgba(255,255,255,0.05);
    border-radius: 3px;
    margin: 8px 10px 0 0;
    color: rgba(255,255,255,0.7);
}
#header-nav-right a.hdr-btn:hover {
    background: rgba(255,255,255,0.15);
    color: rgba(255,255,255,0.8);
}

/* Mobile navigation */

#mobile-navigation {
    float: left;
    margin: 0;
    position: relative;
    height: 78px;
    padding: 0 65px 0 0;
    text-align: center;
    border-right: rgba(255,255,255,0.15) solid 1px;
}
#mobile-navigation #nav-toggle {
    height: 78px;
    width: 70px;
    padding: 0;
    position: relative;
    border-right: rgba(255,255,255,0.15) solid 1px;
}
#mobile-navigation  #nav-toggle span {
    left: 17px;
}
#mobile-navigation #nav-toggle span:before,
#mobile-navigation #nav-toggle span:after {
    left: 0;
}
#mobile-navigation .logo-content-small {
    width: 35px;
    display: block;
    left: 85px;
}

body #nav-toggle span:before,
body #nav-toggle span:after {
    background: #fff;
}

body #nav-toggle.collapsed span:before,
body #nav-toggle.collapsed span:after,
body #nav-toggle.collapsed span {
    background: rgba(255,255,255,0.7);
}

#page-sidebar.collapse.in {
    visibility: visible;
    transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    background-color: #fff;
    float: none;
    width: 100%;
    position: relative;
}
#page-sidebar.collapse.in .scroll-sidebar {
    height: auto !important;
}
#page-sidebar.collapse.in #sidebar-menu {
    padding: 5px 10px;
}


/* Sidebar */

#page-sidebar {
    width: 260px;
    float: left;
    position: relative;
    margin-right: -100%;
    z-index: 160;
}
/* Sidebar menu */

#sidebar-menu {
    margin: 0;
    padding: 5px 20px;
    list-style: none;
}
#sidebar-menu li {
    position: relative;
    margin: 2px 0;
}
#sidebar-menu li.header {
    text-transform: uppercase;
    font-size: 12px;
    padding: 5px 0;
    font-weight: 700;
}
#sidebar-menu li a {
    display: block;
    position: relative;
    line-height: 32px;
    height: 32px;
}
#sidebar-menu > li > a {
    padding: 0 10px 0 0;
    border-radius: 3px;
    font-size: 13px;
    border: transparent solid 1px;
    line-height: 35px;
    height: 36px;
}
#sidebar-menu > li > a .bs-badge,
#sidebar-menu > li > a .bs-label {
    position: absolute;
    top: 9px;
    right: 29px;
}
#sidebar-menu > li > a .bs-badge {
    top: 8px;
}
#sidebar-menu > li.no-menu > a .bs-badge,
#sidebar-menu > li.no-menu > a .bs-label {
    right: 10px;
}
#page-sidebar li a.sf-with-ul:after {
    line-height: 21px;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}
#page-sidebar li.sfHover > a.sf-with-ul:after {
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
#page-sidebar li ul li a:before,
#page-sidebar li a .glyph-icon {
    font-size: 18px;
    line-height: 35px;
    display: block;
    float: left;
    width: 30px;
    height: 36px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    opacity: .30;
    -moz-opacity: .30;
    filter: alpha(opacity: 30);
}
#page-sidebar li ul li a:before {
    font-size: 8px;
    width: 18px;
    margin: 0 3px 0 4px;
    height: 32px;
    line-height: 32px;
}
#page-sidebar li a .glyph-icon {
    opacity: .60;
    -moz-opacity: .60;
    filter: alpha(opacity: 60);
    -webkit-animation-duration: .7s;
    -moz-animation-duration: .7s;
    -o-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
#page-sidebar li a:hover .glyph-icon {
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    -o-animation-name: swing;
    animation-name: swing;
}
/* Sidebar sidebar-submenu */

#sidebar-menu li .sidebar-submenu {
    display: none;
    padding: 0;
    width: 100%;
    margin: 10px 0;
    list-style: none;
    border: transparent solid 1px;
    border-radius: 3px;
}
#sidebar-menu li .sidebar-submenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#sidebar-menu li .sidebar-submenu ul li {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin: 0;
}
#sidebar-menu li ul li:first-child,
#sidebar-menu li ul li:first-child a {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#sidebar-menu li ul li:last-child,
#sidebar-menu li ul li:last-child a {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#sidebar-menu li .sidebar-submenu ul li:last-child {
    border-bottom: 0;
}

#sidebar-toggle-1 > div.container {
    max-width: 100%;
}

/* Page content wrapper */

#page-content-wrapper {
    float: left;
    width: 100%;
    position: relative;
    z-index: 140;
}
#page-content {
    margin-left: 260px;
    padding: 20px 30px;
}

#page-content > .container {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    width:100%;
}
/* Page title */

#page-title {
    padding: 0 0 23px;
    position: relative;
}
#page-title h2 {
    font-size: 22px;
    text-transform: uppercase;
    padding: 0;
    font-weight: 100;
    margin: 0;
    color: #414C59;
}
#page-title p {
    opacity: 0.6;
}
/* Boxed layout */

.boxed-layout {
    background-color: #fafafa;
}
.boxed-layout #page-wrapper {
    background: #fff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.12);
    overflow: hidden;
}
.boxed-layout #page-header,
.boxed-layout #page-content-wrapper {
    border-left: #fff solid 4px;
    border-right: #fff solid 4px;
}
.boxed-layout #page-sidebar {
    margin-left: 4px;
}
.boxed-layout .popover {
    min-width: 50px;
}
.boxed-layout .dashboard-box .list-grade  {
    display: none;
}
#page-wrapper {
    margin: 0 auto;
}
/* Fixed header */

.fixed-header #page-header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 170;
}
.fixed-header #page-wrapper {
    padding-top: 78px;
}
/* Fixed sidebar */

.fixed-sidebar #page-sidebar {
    position: fixed;
}
.fixed-sidebar #page-header #close-sidebar {
    display: none;
}
.fixed-sidebar.closed-sidebar #header-logo {
    width: 78px;
    position: relative;
    margin-left: 0;
}
.fixed-sidebar #header-logo {
    position: fixed;
    margin-left: -260px;
    top: 0;
}
.fixed-sidebar #page-sidebar .slimScrollBar {
    border-radius: 0 !important;
}
.fixed-sidebar #page-header {
    padding-left: 260px;
}
/* Helpers */

#page-header {
    transition: padding 0.7s ease;
    -moz-transition: padding 0.7s ease;
    -webkit-transition: padding 0.7s ease;
}
#page-sidebar,
#header-logo {
    transition: width 0.7s ease;
    -moz-transition: width 0.7s ease;
    -webkit-transition: width 0.7s ease;
}
#page-content,
#page-sidebar {
    transition: margin 0.7s ease;
    -moz-transition: margin 0.7s ease;
    -webkit-transition: margin 0.7s ease;
}
#page-header,
#page-wrapper {
    max-width: 3000px;
    transition: max-width 0.7s ease;
    -moz-transition: max-width 0.7s ease;
    -webkit-transition: max-width 0.7s ease;
}

/* Closed sidebar */

#page-sidebar {
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
    visibility: visible;
}
.closed-sidebar #page-sidebar {
    transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    -webkit-transform: translateX(-260px);
    visibility: hidden;
}
.closed-sidebar #page-content {
    margin-left: 0;
}
.closed-sidebar #header-logo {
    width: 100px;
}
.closed-sidebar #header-logo .logo-content-small {
    width: 35px;
    margin-left: 0;
    left: 20px;
    display: block;
}
.closed-sidebar #header-logo .logo-content-big {
    width: 0;
    display: none;
}
.closed-sidebar.fixed-sidebar #page-header {
    padding-left: 0;
}

.t {
-webkit-transition: transform 0.5s ease;
-o-transition: transform 0.5s ease;
transition: transform 0.5s ease;
}
.a {
    transform: translateX(-300px);
    -ms-transform: translateX(-300px);
    -o-transform: translateX(-300px);
    -webkit-transform: translateX(-300px);
}


/* Default.css */
/* Components */
/* Framework CSS */
/* Secondary font color */

.table,
.chosen-disabled .chosen-single,
div.selector,
.content-box-header.bg-default > .ui-tabs-nav li > a,
.content-box-header.bg-gray > .ui-tabs-nav li > a,
.content-box-header.bg-white > .ui-tabs-nav li > a,
.content-box-header > .ui-tabs-nav li.ui-tabs-active > a,
body .content-box-header > .ui-tabs-nav li.ui-tabs-active > a:hover,
.pagination > li > a,
.pagination > li > span,
.btn-link,
a {
    color: #8da0aa;
}
/* Primary font color */

.tabs-nav li a:hover,
.tabs-nav li.active a,
.features-tour-box h3,
.font-primary,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after,
.content-box-header.bg-default > .ui-tabs-nav li > a:hover,
.content-box-header.bg-gray > .ui-tabs-nav li > a:hover,
.content-box-header.bg-white > .ui-tabs-nav li > a:hover,
.btn-link:hover,
#page-sidebar ul li.sfHover > a.sf-with-ul,
a:hover {
    color: #1c82e1;
}
/* Primary border color */

.ui-accordion .ui-accordion-header.ui-accordion-header-active,
.ui-dialog-buttonset button,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next,
a.thumbnail:hover,
.ui-spinner .ui-spinner-button:hover,
div[id^='uniform-'] span.checked,
.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li.active > a:focus,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
li.active a.list-group-item,
li.active a.list-group-item:hover,
li.active a.list-group-item:focus,
.border-primary,
.btn-primary {
    border-color: #00a792;
}

a:focus { outline:none !important; }

/* Primary background color */

#loadingbar,
.irs-line-mid,
.irs-line-left,
.irs-line-right,
div.switch-toggle.switch-on,
.bootstrap-switch-primary,
.ui-tabs-nav li.ui-state-active > a,
.ui-tabs-nav li.ui-state-active.ui-state-hover > a,
.ms-hover.ui-state-focus,
.ui-accordion-header.ui-accordion-header-active,
.ui-slider-handle,
.ui-rangeSlider-bar,
.ui-dialog-buttonset button,
.ui-datepicker .ui-datepicker-current-day a,
.ui-datepicker .ui-datepicker-current-day span,
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next,
.daterangepicker .ranges li.active,
.daterangepicker .ranges li.active:hover,
.form-wizard > ul > li.active .wizard-step,
.ui-spinner .ui-spinner-button:hover,
.ui-menu li > a:hover,
.ms-list .ms-hover,
.chosen-container .chosen-results li.active-result.highlighted,
div[id^='uniform-'] span.checked,
.nav > li.active > a,
.nav > li.active > a:hover,
.nav > li.active > a:focus,
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
li.active a.list-group-item,
li.active a.list-group-item:hover,
li.active a.list-group-item:focus,
.label-primary,
.badge-primary,
.fc-event,
.bg-primary,
.btn-primary,
.owl-controls .owl-page span,
#nav-toggle.collapsed span,
#nav-toggle span:before,
#nav-toggle span:after {
    color: #fff;
    background: #00bca4;
}

.font-secondary,
.post-box .post-title,
.inverse.carousel-wrapper .owl-controls .owl-buttons .owl-next,
.inverse.carousel-wrapper .owl-controls .owl-buttons .owl-prev {
    color: #00bca4;
}

.post-box .post-title:hover {
    color: #3e4855;
}
/* Default border color */

.thumb-pane,
.mailbox-wrapper .nav-list li a,
.ui-tabs-nav,
.tabs-navigation > ul,
.tabs-navigation > ul li > a,
.tabs-navigation > ul li.ui-state-hover > a,
.ui-accordion .ui-accordion-header,
.panel,
.panel-group .panel-heading + .panel-collapse .panel-body,
.panel-group .panel-footer + .panel-collapse .panel-body,
.panel-footer,
.panel-heading,
.timeline-box:before,
.timeline-box .tl-item .popover,
.popover-title,
.ui-dialog .ui-dialog-titlebar,
.thumbnail,
.img-thumbnail,
.daterangepicker .calendar-date,
.ui-spinner .ui-spinner-button,
.ms-container .ms-list,
.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection,
.chosen-container-multi .chosen-choices li.search-choice,
.chosen-container .chosen-drop,
.chosen-container,
.chosen-container-single .chosen-single div,
.chosen-container-active.chosen-with-drop .chosen-single div,
div[id^='uniform-'] span,
div.selector,
.selector i,
.list-group-item,
.nav-tabs,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > thead > tr > th,
.table-bordered,
.button-pane,
.ui-datepicker-buttonpane,
.ui-dialog-buttonpane,
.content-box,
.content-box-header.bg-default,
.content-box-header.bg-gray,
.content-box-header.bg-white,
.panel-box.bg-default,
.panel-box.bg-gray,
.panel-box.bg-white,
.panel-content.bg-default,
.panel-content.bg-gray,
.panel-content.bg-white,
.pagination > li > a,
.pagination > li > span,
.dashboard-buttons .btn,
.bg-default,
.fc-state-default,
.fc-widget-header,
.fc-widget-content,
.ui-datepicker .ui-datepicker-buttonpane button,
.btn-default,
.popover-title,
.bordered-row .form-group,
.bg-white.dashboard-box .button-pane,
.bg-white.tile-box .tile-footer,
.mail-toolbar,
.email-body,
.ui-dialog, .ui-datepicker, .dropdown-menu, .popover, .ui-menu, .minicolors-panel,
.jvectormap-label,
.jvectormap-zoomin,
.jvectormap-zoomout,
.posts-list li,
.border-default {
    border-color: #dfe8f1;
}
.nav-divider,
.divider,
.timeline-horizontal.timeline-box:before {
    background: #dfe8f1;
}
.content-box.border-top {
    border-right-color: #dfe8f1 !important;
    border-bottom-color: #dfe8f1 !important;
    border-left-color: #dfe8f1 !important;
}
/* Default background color */

.label-default,
.bootstrap-switch-default,
.ui-accordion-header,
.panel-heading,
.panel-footer,
.ui-dialog .ui-dialog-titlebar,
.popover-title,
.ui-datepicker td span,
.ui-datepicker td a,
.ui-spinner .ui-spinner-button,
div[id^='uniform-'] span,
.bg-default,
.btn-default,
.button-pane,
.mail-toolbar,
.bg-white.dashboard-box .button-pane,
.bg-white.tile-box .tile-footer,
.jvectormap-zoomin, .jvectormap-zoomout,
.jvectormap-zoomin,
.jvectormap-zoomout,
.jvectormap-label {
    color: #555a60;
    background-color: #FEFEFF;
}
.irs-diapason,
.ui-datepicker-buttonpane,
.ui-dialog-buttonpane,
.ui-slider-range,
.ui-rangeSlider-container {
    background-color: #FEFEFF;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
    color: #4b5056;
    background-color: #f9fafe;
}
/* Button default hover */

.ui-tabs-nav > li.ui-state-hover > a,
.ui-accordion-header.ui-state-hover,
.fc-state-hover,
.fc-state-down,
.fc-state-active,
.fc-state-disabled,
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.ui-datepicker .ui-datepicker-buttonpane button:hover,
.open .dropdown-toggle.btn-default,
.open.dropdown-submenu a,
.btn-default.disabled,
.btn-default[disabled],
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
.jvectormap-zoomin:hover,
.jvectormap-zoomout:hover {
    color: #2b2f33;
    border-color: #bfc8d1;
    background-color: #f3f3f9;
}
.btn-default.active .glyph-icon {
    color: #2b2f33 !important;
}
/* Button primary hover */

.ui-accordion-header.ui-accordion-header-active.ui-state-hover,
.ui-rangeSlider-bar:hover,
.ui-rangeSlider-bar:active,
.ui-slider-handle.ui-state-hover,
.ui-slider-handle.ui-state-active,
.ui-dialog-buttonset button:hover,
.ui-datepicker td a:hover,
.ui-datepicker .ui-datepicker-prev.ui-state-hover,
.ui-datepicker .ui-datepicker-next.ui-state-hover,
.bsdatepicker th.next:hover,
.bsdatepicker th.prev:hover,
.bsdatepicker td.active,
.bsdatepicker td.day.active:hover,
.bsdatepicker td span:hover,
.daterangepicker .calendar th.next:hover,
.daterangepicker .calendar th.prev:hover,
.daterangepicker td.active,
.daterangepicker td.available.active:hover,
.label-primary[href]:hover,
.label-primary[href]:focus,
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus,
.hover-primary:hover,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary,
.btn-primary.disabled,
.btn-primary[disabled],
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active {
    color: #fff;
    border-color: #00b19b;
    background-color: #00ceb4;
}
/* Dropdown hover/active/focus */

.ui-datepicker-title,
.bsdatepicker td.day:hover,
.bsdatepicker thead tr:first-child th.switch:hover,
.bsdatepicker td span,
.daterangepicker td.available:hover,
.daterangepicker .ranges li:hover,
.chosen-container-single .chosen-single div,
.chosen-container-multi .chosen-choices li.search-choice,
.selector i,
.nav > li > a:hover,
.nav > li > a:focus,
a.list-group-item:hover,
a.list-group-item:focus,
.pager li > a:hover,
.pager li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #2b2f33;
    background: #eff4f6;
}
.pager li > a:hover,
.pager li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #2b2f33;
    background-color: #f3f3f9;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover,
.dropdown-menu .active > a:focus {
    color: #2b2f33;
    background: #eff4f6;
}
/* Colors for elements inside active class */

.active > .badge,
.active > .bs-badge,
.active > .bs-label {
    color: #666 !important;
    background: #fff !important;
}
a.list-group-item.active > .glyph-icon,
li.active a.list-group-item > .glyph-icon,
.active > .glyph-icon {
    color: #fff !important;
}
/* Icon separator */

.icon-separator {
    border-right: rgba(255, 255, 255, .21) solid 1px;
    background: rgba(255, 255, 255, .2);
}
.tile-box.bg-default .tile-header,
.tile-box.bg-gray .tile-header,
.tile-box.bg-white .tile-header,
.tile-box.btn-default .tile-header,
.content-box-header.bg-default .icon-separator,
.content-box-header.bg-gray .icon-separator,
.content-box-header.bg-white .icon-separator {
    border-right: #dfe8f1 solid 1px;
    background: rgba(255, 255, 255, .1);
}
.content-box-header .header-buttons-separator .icon-separator {
    border-right: 0;
    border-left: rgba(255, 255, 255, .21) solid 1px;
}
.content-box-header.bg-default .header-buttons-separator .icon-separator,
.content-box-header.bg-gray .header-buttons-separator .icon-separator,
.content-box-header.bg-white .header-buttons-separator .icon-separator {
    border-right: 0;
    border-left: #dfe8f1 solid 1px;
}
.header-buttons-separator .icon-separator {
    color: rgba(255, 255, 255, .8);
}
.header-buttons-separator .icon-separator:hover {
    color: #fff;
    background: rgba(255, 255, 255, .3);
}
.content-box-header.bg-default .header-buttons-separator .icon-separator,
.content-box-header.bg-gray .header-buttons-separator .icon-separator,
.content-box-header.bg-white .header-buttons-separator .icon-separator {
    color: rgba(0, 0, 0, .6);
}
.content-box-header.bg-default .header-buttons-separator .icon-separator:hover,
.content-box-header.bg-gray .header-buttons-separator .icon-separator:hover,
.content-box-header.bg-white .header-buttons-separator .icon-separator:hover {
    color: rgba(0, 0, 0, .9);
}
.dashboard-panel .button-pane {
    background: rgba(0, 0, 0, .1) !important;
}

/* Charts */

.xchart .color0 .line {
    stroke: #00bca4;
}
.xchart .color0 circle {
    stroke: #00bca4;
}
.xchart .color0 .line .fill {
    pointer-events: none;
}
.xchart .color0 rect {
    fill: #00bca4;
}
.xchart .color0 circle {
    fill: #fff;
}
.xchart .color0 .fill {
    fill: rgba(0, 188, 164, 0.06);
}
.xchart .color0.comp .line {
    stroke: #00bca4;
}
.xchart .color0.comp rect {
    fill: #00bca4;
}
.xchart .color0.comp .fill {
    display: none;
}
.xchart .color0.comp circle,
.xchart .color0.comp .pointer {
    fill: #00bca4;
}


.xchart .color1 .line {
    stroke: #52a7e0;
}
.xchart .color1 circle {
    stroke: #52a7e0;
}
.xchart .color1 .line .fill {
    pointer-events: none;
}
.xchart .color1 rect {
    fill: #52a7e0;
}
.xchart .color1 circle {
    fill: #fff;
}
.xchart .color1 .fill {
    fill: rgba(82, 167, 224, 0.06);
}
.xchart .color1.comp .line {
    stroke: #52a7e0;
}
.xchart .color1.comp rect {
    fill: #52a7e0;
}
.xchart .color1.comp .fill {
    display: none;
}
.xchart .color1.comp circle,
.xchart .color1.comp .pointer {
    fill: #52a7e0;
}

/* Components modifiers */

body .popover.top .arrow:after {
    border-top-color: #fff;
}
body .popover.right .arrow:after {
    border-right-color: #fff;
}
body .popover.bottom .arrow:after {
    border-bottom-color: #fff;
}
body .popover.left .arrow:after {
    border-left-color: #fff;
}
